{% extends "base.html" %}

<!-- 页面标题 -->
{% block PageTitle %} 帮助 {% endblock %}
{% block AdditionScript %} {% endblock %}

{% block titleURL%} /index/ {% endblock %}
{% block title %}
    <span class="glyphicon glyphicon-question-sign" aria-hidden="true"></span>
    ONTRC
{% endblock %}

{% block MainContents %}
    <div class="panel panel-success">
        <div class="panel-heading">帮助</div>
        <div class="panel-body">

            {{ author.helptitle }}
            {{ author.helptxt|safe }}

        </div>
    </div>


    {% for e in info %}
        <div class="panel panel-info">
            <div class="panel-heading">{{ e.helptitle }}</div>
            <div class="panel-body">
                {{ e.helptxt|safe }}
            </div>
        </div>

    {% endfor %}


{% endblock %}


{% block script %}
    <script>
        $("#DHThelp").addClass("active");
    </script>
{% endblock %}