{% extends "base.html" %}

<!-- 页面标题 -->
{% block PageTitle %} 数据中心控制系统主页 {% endblock %}
{% block AdditionScript %}{% endblock %}

{% block titleURL%} /index/ {% endblock %}
{% block title %}
    <span class="glyphicon glyphicon-home" aria-hidden="true"></span>
    ONTRC
{% endblock %}


{% block MainContents %}
    <h2>这是主页（建设中……Coming soon）</h2>
    <hr>

    <img src="/statics/images/mainstructure.png" class="img-responsive" alt="Responsive image">
{% endblock %}


{% block script %}
    <script>
        $("#DHThomepage").addClass("active");
    </script>
{% endblock %}