{% extends "base.html" %}

<!-- 页面标题 -->
{% block PageTitle %} 设备摘要 {% endblock %}
{% block AdditionScript %}
    <script src="/statics/js/echarts/echarts.min.js"></script>
    <script src="/statics/js/echarts/echarts-liquidfill.js"></script>
{% endblock %}

{% block titleURL%} /index/ {% endblock %}
{% block title %}
    <span class="glyphicon glyphicon-wrench" aria-hidden="true"></span>
    ONTRC
{% endblock %}


{% block MainContents %}
    <h2>设备摘要 <span class="label label-default">7 Devices</span></h2>
    <hr style="position: relative">

    <div id="echart-water-oeo"
         style="width: 250px;height:250px; position: absolute;
         margin-top: -30px;margin-left: 500px; z-index: 1001"></div>
    <div style="width: 250px;height:250px; position: absolute;
         margin-top: 175px;margin-left: 590px; z-index: 1001"><strong>OEO使用率</strong></div>

    <div id="echart-water-wss"
         style="width: 250px;height:250px; position: absolute;
         margin-top: -30px;margin-left: 700px; z-index: 1001"></div>
    <div style="width: 250px;height:250px; position: absolute;
         margin-top: 175px;margin-left: 790px; z-index: 1001"><strong>WSS使用率</strong></div>

    <div class="list-group">
        <a href="/odlsetting/" class="list-group-item">
            <h4 class="list-group-item-heading">ODL控制器设备</h4>
            <div class="row">

                <div class="col-md-3">
                    <div class="panel panel-danger">
                        <div class="panel-heading"><strong>ODL#0</strong></div>
                        <div class="panel-body">
                            <strong>位置：</strong> {{ odlinfo.odllocation }} <br>
                            <strong>状态：</strong> {{ odlinfo.odlstate }} <br>
                            <strong>IP：</strong> {{ odlinfo.odlip }}:{{ odlinfo.odlport }} <br>
                            <strong>型号：</strong> {{ odlinfo.odltype }} <br>
                        </div>
                    </div>
                </div>

            </div>
        </a>

        <a href="/oeosetting/" class="list-group-item">
            <h4 class="list-group-item-heading">OEO设备</h4>
            <div class="row">

                <div class="col-md-3">
                    <div class="panel panel-warning">
                        <div class="panel-heading"><strong>OEO#1</strong></div>
                        <div class="panel-body">
                            <strong>位置：</strong> {{ oeoinfo1.oeolocation }} <br>
                            <strong>状态：</strong> {{ oeoinfo1.oeostate }} <br>
                            <strong>代理：</strong> {{ oeoinfo1.oeoip }}:{{ oeoinfo1.oeoport }} <br>
                            <strong>型号：</strong> {{ oeoinfo1.oeotype }} <br>
                        </div>
                    </div>
                </div>

                <div class="col-md-3">
                    <div class="panel panel-warning">
                        <div class="panel-heading"><strong>OEO#2</strong></div>
                        <div class="panel-body">
                            <strong>位置：</strong> {{ oeoinfo2.oeolocation }} <br>
                            <strong>状态：</strong> {{ oeoinfo2.oeostate }} <br>
                            <strong>代理：</strong> {{ oeoinfo2.oeoip }}:{{ oeoinfo2.oeoport }} <br>
                            <strong>型号：</strong> {{ oeoinfo2.oeotype }} <br>
                        </div>
                    </div>
                </div>

            </div>
        </a>

        <a href="/wsssetting/" class="list-group-item">
            <h4 class="list-group-item-heading">WSS设备</h4>
            <div class="row">

                <div class="col-md-3">
                    <div class="panel panel-success">
                        <div class="panel-heading"><strong>WSS#1</strong></div>
                        <div class="panel-body">
                            <strong>位置：</strong> 无记录 <br>
                            <strong>状态：</strong> {{ wssinfo1.wssstate }} <br>
                            <strong>代理：</strong> {{ wssinfo1.wssip }}:{{ odlinfo1.wssport }} <br>
                            <strong>型号：</strong> {{ wssinfo1.wsstype }} <br>
                        </div>
                    </div>
                </div>

                <div class="col-md-3">
                    <div class="panel panel-success">
                        <div class="panel-heading"><strong>WSS#2</strong></div>
                        <div class="panel-body">
                            <strong>位置：</strong> 无记录 <br>
                            <strong>状态：</strong> {{ wssinfo2.wssstate }} <br>
                            <strong>代理：</strong> {{ wssinfo2.wssip }}:{{ odlinfo2.wssport }} <br>
                            <strong>型号：</strong> {{ wssinfo2.wsstype }} <br>
                        </div>
                    </div>
                </div>

                <div class="col-md-3">
                    <div class="panel panel-success">
                        <div class="panel-heading"><strong>WSS#3</strong></div>
                        <div class="panel-body">
                            <strong>位置：</strong> 无记录 <br>
                            <strong>状态：</strong> {{ wssinfo3.wssstate }} <br>
                            <strong>代理：</strong> {{ wssinfo3.wssip }}:{{ odlinfo3.wssport }} <br>
                            <strong>型号：</strong> {{ wssinfo3.wsstype }} <br>
                        </div>
                    </div>
                </div>

                <div class="col-md-3">
                    <div class="panel panel-success">
                        <div class="panel-heading"><strong>WSS#4</strong></div>
                        <div class="panel-body">
                            <strong>位置：</strong> 无记录 <br>
                            <strong>状态：</strong> {{ wssinfo4.wssstate }} <br>
                            <strong>代理：</strong> {{ wssinfo4.wssip }}:{{ odlinfo4.wssport }} <br>
                            <strong>型号：</strong> {{ wssinfo4.wsstype }} <br>
                        </div>
                    </div>
                </div>

            </div>
        </a>
    </div>

{% endblock %}

{% block script %}
    <script>
        $("#DHTsetting").addClass("active");

        var myWaterOEO = echarts.init(document.getElementById('echart-water-oeo'));
        var optionWaterOEO = {
            series: [{
                type: 'liquidFill',
                data: [0.5, 0.4, 0.3],
                color: ['red', '#0f0', 'rgb(0, 0, 255)'],
                itemStyle: {
                    normal: {
                        opacity: 0.6
                    },
                    emphasis: {
                        opacity: 0.9
                    }
                }
            }]
         };
        myWaterOEO.setOption(optionWaterOEO);


        var myWaterWSS = echarts.init(document.getElementById('echart-water-wss'));
        var optionWaterWSS = {
            series: [{
                type: 'liquidFill',
                data: [0.4, 0.3, 0.2],
                color: ['red', '#0f0', 'rgb(0, 0, 255)'],
                itemStyle: {
                    normal: {
                        opacity: 0.6
                    },
                    emphasis: {
                        opacity: 0.9
                    }
                }
            }]
         };
        myWaterWSS.setOption(optionWaterWSS);
    </script>
{% endblock %}