{% extends "base.html" %}

<!-- 页面标题 -->
{% block PageTitle %} 测试页 {% endblock %}
{% block AdditionScript %} 
    <script src="/statics/js/echarts/echarts.min.js"></script>
    <script src="/statics/js/echarts/echarts-liquidfill.js"></script>
    <link href="/statics/css/switch.css" rel="stylesheet">


{% endblock %}

{% block titleURL%} /index/ {% endblock %}
{% block title %}
    <span class="glyphicon glyphicon-tree-deciduous" aria-hidden="true"></span>
    ONTRC
{% endblock %}


{% block MainContents %}
    <h2>这是测试页！！！ </h2>
    <div class="progress">
        <div class="progress-bar progress-bar-striped active" role="progressbar" style="width: 100%">
    </div>
    </div>
    <hr>

    <div class="row">
        <div class="col-md-8" id="echart-test" style="width: 500px;height:400px;"></div>
    </div>

    <div class="toggle toggle--daynight">
			<input type="checkbox" id="toggle--daynight" class="toggle--checkbox">
			<label class="toggle--btn" for="toggle--daynight"><span class="toggle--feature"></span></label>
    </div>
{% endblock %}



{% block script %}
    <script>
        $("#DHTtest").addClass("active");
    </script>

    <script>
        // 基于准备好的dom，初始化echarts实例
        var myChart = echarts.init(document.getElementById('echart-test'));

        // 指定图表的配置项和数据
        var option = {
            title: {
                text: 'ECharts 入门示例'
            },
            tooltip: {},
            legend: {
                data:['销量']
            },
            xAxis: {
                data: ["衬衫","羊毛衫","雪纺衫","裤子","高跟鞋","袜子"]
            },
            yAxis: {},
            series: [{
                name: '销量',
                type: 'bar',
                data: [5, 20, 36, 10, 10, 20]
            }]
        };

        // 使用刚指定的配置项和数据显示图表。
        myChart.setOption(option);


    </script>

{% endblock %}